<footer class="section hero is-dark has-text-centered">
    <div class="container is-narrow">
        <div class="copyright">
            <p>Copyright ©<span id="year"></span></p>
        </div>
    </div>
</footer>