<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <figure class="media-right image is-32x32">
        <img src="image/logo.png" class="image is-32x32">
      </figure>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
       data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Comparation
      </a>

      <a class="navbar-item">
        Ranking
      </a>
    </div>
  </div>
</nav>