<section class="hero is-info is-fullheight is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">WELCOME!</h1>
      <h2 class="subtitle">
        Politician Ranking
      </h2>
    </div>
  </div>
</section>
